*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
    margin: 3rem auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid hsl(180, 29%, 50%);
    border-color: hsl(180, 29%, 50%) transparent hsl(180, 29%, 50%) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}